*{
	margin: 0;
	padding: 0;
}
/* 第一块面板样式与主页相同省略*/
/* 第二块面板 */
.about-content-warp{
	width: 100%;
	background: #c0c0c0;
	overflow: hidden;
	padding-bottom: 10px;
}
/* 整体 */
.about-main{
/* 	position: relative;
	top: 20px; */
	/* 测试高度 */
	width: 76%;
	background: #efe7e7;
	/* 居中 */
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}
/* 修饰条 */
.about-modified-bar{
	height: 60px;
	width: 5px;
	background: #fd7b68;
	float: left;
}
/* 简介标题 */
.about-title{
	/* 上左边距 */
	padding: 14px 25px;
	font-size: 18px;
	color: #2ca6cb;
}
.about-title h2{
	/* 字体粗细 */
	font-weight: 300;
}
/* 主体部分 */
.about-main-body{
/* 	position: relative;
	top: 30px; */
	width: 94%;
	margin: auto;
	margin-top: 30px;
	text-align: center;
	padding-bottom: 55px;
}
/* 图片边框 */
.about-picture-border{
	height: 340px;
	width: 100%;
	border: 1px solid #f00000;
	border-radius: 5px;
	/* 居中 */
	margin: auto;
	margin-top: 14px;
	margin-bottom: 12px;
}
/* 山水图 */
.about-picture{
	/* 上左边距 */
	padding: 20px 0px;
	margin: auto;
}
.about-picture img{
	/* 图片长宽 */
	height: 300px;
	width: 83%;
}
/* 个人介绍以及其他 */
.about-myself{
	/* 左对齐 */
	text-align: left;
}
/* 个人介绍 */
.about-myself h2{
	color: #343432;;
	font-size: 26px;
	margin-top: 40px;
	margin-bottom: 10px;
	padding-bottom:10px;
	border-bottom: 2px solid #d7d7d1;
}
.about-myself p{
	/* 设置段落间距离 */
	padding: 8px 0;
	font-size: 16px;
	font-weight: 300;
	color: #565454;
	line-height: 32px;
}
